/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




/*
* Aquí empieza el proyecto
*/

body {
  background-color: #2B2D38;
  background-size:1650px auto;
  background-repeat: no-repeat;
}

.page {
  max-width: 1400px;
  padding-left: 16px;
  padding-right: auto;
  margin-left: 80px;
  margin-right: auto;
}

/*header*/
header  {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}

/*tamano del logo*/
header figure img {
  width: 160px;
}
/*para quitar que no aparezca el figcaption, poner esto:*/
header figcaption {
  display: none;
}

/*Posicion del logo*/
header figure {
  margin: 0;
}

/*Mi nav*/
header nav ul {
  margin-right: 170px;
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 40px
  
}

/*nav*/
header nav ul a {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #ABABAB;
  text-decoration: none;
  font-weight: normal;
  position: relative; /* necesario para la linea debajo */
  padding-bottom: 4px;
}

/* Para poner nuestra linea rosada sobre el hover */
header nav ul a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #DB2A6B; 
}

header nav ul a:hover {
  color: white;
}

header nav ul a:hover::after {
  width: 50%; /*tamano de la linea*/
}


/*body*/
.hero {
  padding-top: 30px;
}

.hero__content{
  max-width: 40%;
  margin-bottom: 40px;
}

.hero h1 {
  font-family: 'Merriweather';
  color: #FFFFFF ; 
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 25px;
}

.hero__content p {
  color: rgba(255, 255, 255, 0.45);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: 300;
  max-width: 700px;
  margin-bottom: 40px;
  
}

/*botones body*/

/*boton get started*/
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.btn-primary {
  display: inline-block;
  color: white;
  padding: 17px 48px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border: none;
}

.btn-primary:hover {
  background-color: #DB2A6B;
  color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border: none;
}



.btn-secondary {
  display: inline-block;
  color: white;
  padding: 7px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.btn-secondary:hover {
  background-color: #DB2A6B;
  color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border: none;
}

/*Categorias*/ 

.categories {
  display: flex;
  justify-content: left;
  gap: 30px
}

.categories article {
  display: flex;
  align-items: center;  
  gap: 10px;
  margin-top: 110px;  

}

.categories a {
  display: flex;
  text-decoration: none;
}

.categories article h3 {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 22px 10px;
 
  
}


/*foto de fondo */
.fotos {
  position: absolute;
  top:140px;
  left: 750px;
  z-index: 0; 
  pointer-events: none; 
}

.fotos img{
  width: 110%;
  height: auto;
}